* {
    box-sizing: border-box;
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
/* article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}

.container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-items: center;
}

.box {
    padding: 5px;
}

.box:nth-of-type(3n+1){
    border-right: solid black 1px;
}

.box:nth-of-type(3n+3){
    border-left: solid black 1px;
}

.box:nth-of-type(n+1):nth-of-type(-n+3){
    border-bottom: solid black 1px;
}

.box:nth-of-type(n+1):nth-of-type(-n+3){
    border-bottom: solid black 1px;
} */


body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
    background-color: hsl(0, 0%, 94%);
}



#intro, #game {
    width: min(400px,100vw);
    background-color: hsl(0, 0%, 100%);
    padding: min(30px,1vmin);
    border-radius: 10px;
    box-shadow: 0 0 10px hsla(0, 0%, 0%, 0.2);
    text-align: center;
} 

#intro>h1 {
    font-size: 2em;
    margin-bottom: 20px;
    font-weight: 700;
}

#intro > p {
    font-size: 1.2em;
    line-height: 1.2;
    margin-bottom: 30px;
    text-align: justify;
}

#start-btn {
    position: relative;
    background-color: hsl(287, 51%, 33%);
    color: #ffffff;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
    transition: transform 0.3s ease;
    overflow: hidden;
}

#start-btn:hover{
    transform: scale(1.1);
}

#start-btn::before {
    content: '';
    position: absolute;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    background: linear-gradient(90deg, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.5) 50%, rgba(255, 255, 255, 0) 100%);
    transform: skewX(-30deg);
    transition: left 0.3s ease;
}

#start-btn:hover::before {
    left: 100%;
}

.grid-container {
    display: grid;
    justify-items: center;
    grid-template-columns: repeat(3, 1fr);
    gap: min(20px, calc(0px + 1vmin));
    margin: 20px 0px;
}

.mini-box {
    display: flex;
    align-items: center;
    justify-content: center;
    width: min(100px, 100%);
    height: 100px;
    background-color: hsl(0, 0%, 30%);
    border-radius: 5px;
    animation-duration: 0.5s;
    color: white;
    font-size: max(48px, 1em);
}

.mini-box:not(.clicked):hover {
    transform: scale(1.1);
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.4);
    cursor: pointer;
}

.mini-box.clicked{
    background-color: hsl(0, 0%, 10%);
    border-color: hsl(0, 0%, 0%);
}

#game h2{
    font-size: max(32px, 1em);
}

#game h2.current{
    font-size: max(32px, 1em);
    font-weight: 900;
}

#intro button {
    font-weight: 900;
}

.hide {
    display: none;
}




.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.3s ease;
  }
  
  .overlay-content {
    background-color: #ffffff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    text-align: center;
  }

  .overlay-content h2 {
    font-weight: 900;
    margin-bottom: 5px;
    font-size: 2em;
  }

  .overlay-content button {
    font-weight: 900;
    margin-bottom: 5px;
    font-size: 1.5em;
    margin-top: 10px;
  }
  
  
  .overlay.active {
    opacity: 1;
    pointer-events: auto;
  }
  
  button {
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    background-color: #007bff;
    color: #ffffff;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #0056b3;
  }